// FONT

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Noto+Serif&display=swap');
//font-family: 'Libre Baskerville', serif;
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Libre+Baskerville:wght@400;700&family=Noto+Serif&display=swap'); //font-family: 'Lato', sans-serif;

// /FONT
//@import '~font-awesome/scss/bootstrap';
@import '~bootstrap/scss/bootstrap';

// COLOR
$orange: #FF4612 ;
$grey: #D2D2D2;
$greyText: #bdbdbd
// \COLOR